@page "/"
@inherits MySpace.Shared.NavMenu;
@using System;
@using System.Collections.Generic;
@using System.Linq;



<MudAvatar Size="Size.Large" Style="font-size:22px; margin-top: 100px;  margin-left:50%;" Color="Color.Warning" Variant="Variant.Filled">SK</MudAvatar>
<h5 style="margin-left:46%; padding-top:4px;">@(stringValue ?? "Your Space!")</h5>
<h6 style="margin-left:200px;"> This is your personal space for any tasks, notes and files that you want to keep to yourself. Antything added here is not shared with anyone else.</h6>
<MudItem xs="12" sm="12" md="12">
    <MudFab DisableElevation="true" Size="0" Icon="@Icons.Material.Filled.List" Style="color: blue; margin-top:20px; margin-left:560px; border: 1px solid #DBE4E1; border-radius: 4px; background-color: #FBFCFC; " Label="Tasks" />
    <MudFab DisableElevation="true" Size="0" Icon="@Icons.Material.Outlined.InsertDriveFile" Style="color: blue; margin-top:20px; border: 1px solid #DBE4E1;border-radius: 4px; background-color: #FBFCFC; " Label="Notes" />
    <MudFab DisableElevation="true" Size="0" Icon="@Icons.Material.Filled.FolderOpen" Style="color: blue; margin-top:20px; border: 1px solid #DBE4E1;   background-color: #FBFCFC; border-radius: 4px; " Label="Files" />
</MudItem>
<br />
<br />
<br />
<MudDivider Style="width:500px;margin-left:150px;" DividerType="DividerType.Middle" Class="my-6" />
<p style="margin-left:670px; margin-top:-33px;">Oct 17th</p>
<MudDivider Style="width:500px; margin-left:750px; margin-top:-30px;" DividerType="DividerType.Middle" />


<MudText style="margin-left: 150px; padding: 30px;" Align="Align.Center">Rock created the space for <span style="color:blue;">@(stringValue ?? "Your Space!")</span> •<span style="color:blue;">@(stringValue ?? "Your Space!")</span> added <span style="color:blue;">Task:1</span> in To Do for @(stringValue ?? "Your Space!") •<span style="color:blue;">@(stringValue ?? "Your Space!")</span> added <span style="color:blue;">Task:2</span> in To Do for <span style="color:blue;">@(stringValue ?? "Your Space!")</span> •<span style="color:blue;">@(stringValue ?? "Your Space!")</span> added <span style="color:blue;">Task:3</span> in To Do for <span style="color:blue;">@(stringValue ?? "Your Space!")</span></MudText>
<MudItem xs="12" sm="12" md="12" Style="margin-left: 90px; margin-right: 30px; bottom: 0; margin-top: 260px;">
    <MudTextField @bind-Value="@normalText"
                  Label="Write a message"
                  Variant="Variant.Outlined"
                  Adornment="Adornment.End"
                  AdornmentColor="Color.Primary"
                  AdornmentIcon="@Icons.Filled.KeyboardVoice" />
</MudItem>
<MudItem xs="12" sm="12" md="12" Style="bottom:0;">
    <MudIconButton Style="margin-left:75px;" Icon="@Icons.Material.Filled.InsertEmoticon" aria-label="delete"></MudIconButton>
    <MudIconButton Icon="@Icons.Material.Outlined.AlternateEmail" aria-label="delete"></MudIconButton>
    <MudIconButton Icon="@Icons.Material.Filled.AttachFile" aria-label="delete"></MudIconButton>
    <MudIconButton Icon="@Icons.Material.Filled.BarChart" aria-label="delete"></MudIconButton>
    <MudFab DisableElevation="true" Size="0" Icon="@Icons.Material.Outlined.AddCircleOutline" Style=" border: 1px solid #DBE4E1; border-radius: 4px; background-color: #FBFCFC; " Label="Task" />
    <MudFab DisableElevation="true" Size="0" Icon="@Icons.Material.Outlined.AddCircleOutline" Style=" border: 1px solid #DBE4E1;border-radius: 4px; background-color: #FBFCFC; " Label="Note" />
    <MudFab DisableElevation="true" Size="0" Icon="@Icons.Material.Outlined.Videocam" Style=" border: 1px solid #DBE4E1;border-radius: 4px; background-color: #FBFCFC; " Label="Start meeting" />
</MudItem>


@code{

    string normalText;




    bool open = false;

    void ToggleDrawer()
    {
        open = !open;
    }

    public string Search { get; set; }
    public string stringValue { get; set; }

    






}

